* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  align-items: center;
  font-size: 2rem;
}
header img {
  width: 60%;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section > div:nth-child(1) {
  text-align: center;
}
section > div:nth-child(1) img {
  width: 70%;
}
section > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}
section > div:nth-child(2) > input:nth-child(1) {
  text-align: center;
  border: none;
  border-bottom: 0.1rem solid orangered;
  padding: 2rem 0;
  width: 80%;
  margin: 0 auto;
  outline: none;
}
section > div:nth-child(2) > input:nth-child(2) {
  text-align: center;
  border: none;
  border-bottom: 0.1rem solid orangered;
  padding: 2rem 0;
  width: 80%;
  margin: 0 auto;
  outline: none;
}
section > div:nth-child(2) > input:nth-child(3) {
  text-align: center;
  border: none;
  border-bottom: 0.1rem solid orangered;
  padding: 2rem 0;
  width: 80%;
  margin: 0 auto;
  outline: none;
}
section > div:nth-child(3) {
  text-align: center;
  margin-top: 4rem;
}
section > div:nth-child(3) img {
  width: 60%;
}
footer > div:nth-child(1) {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.get {
  text-align: center;
  position: absolute;
  top: 36.4rem;
  left: 27rem;
}
.get img {
  width: 75%;
}
